<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-title">What is Rote Learning?</h3>

                Repetition is one of most commonly used study strategies, and if you’ve ever reread a text or used flashcards to commit something to memory, you’ve practised this method of learning.

            </div> <!-- /col-xs-7 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <h3 class="footer-title">www.RoteLearn.net</h3>

                    <i class="glyphicon glyphicon-envelope"></i> Contact: admin@RotoLearn.net
                </div>
            </div>
        </div>
    </div>
</footer>