<nav class="navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">RoteLearn.net</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li class="menuItem">@Html.ActionLink("Start Quiz", "Index", "Home")</li>
                <li class="menuItem">@Html.ActionLink("What is Rote Learning", "Whatis", "Home")</li>
                <li class="menuItem">@Html.ActionLink("Phrasal verbs list", "List", "Home")</li>

                </ul>
            </div>

        </div>
    </nav> 