<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="container question" style="margin-top: 60px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    <h3 class="section-heading">What is Rote Learning?</h3>
                    <p class="lead">
                        Repetition is one of most commonly used study strategies, and if you’ve ever reread a text or used flashcards to commit something to memory, you’ve practised this method of learning.
                    </p>

                    <p class="lead">
                        Rote learning is a memorization technique based on repetition. The idea is that one will be able to quickly recall the meaning of the material the more one repeats it.
                    </p>

                    <h3 class="section-heading">Rote learning and Pharsel verbs</h3>
                    <p class="lead">
                        Phrasal verbs are very important in the English language.
                        You do need to know lots of phrasal verbs if you want to reach a good English level.
                        But for English learners like us it’s difficult to learn phrasal verbs and use them naturally like native English people do….
                    </p>
                    <p class="lead">
                        But there is an one method, you learn phrasal verb by Rote learning. Test yourself and memorize it in same time.
                    </p>


                    <ul class="descp lead2">
                        <li><i class="glyphicon glyphicon-signal"></i> Improve your vocabulary list</li>
                        <li><i class="glyphicon glyphicon-refresh"></i> Repeat it until you are confident</li>

                    </ul>


                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>